<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="project"

    connectionString="Server=tcp:projectperiode3.database.windows.net,1433;Initial Catalog=project;Persist Security Info=False;User ID=serverlogin;Password=dolfijn123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"></add>

	</connectionStrings>
</configuration>